{{ $ := .root }}
{{ $st := .page }}
{{ $data := site.Params }}
{{ $autolink := $data.autolink }}
{{ $columns := $st.Params.design.columns | default '2'}}

<div class="column {{if eq $columns '2'}}column is{{end}}">
  {{ with $st.Content }}{{ . }}{{ end }}

  <ul class="fa-ul">

    {{ if $data.email }}
    <li>
      <i class="fa-li fas fa-envelope fa-2x" aria-hidden="true"></i>
      <span id="person-email">
      {{- if $autolink }}<a href="mailto:{{ $data.email }}">{{ $data.email }}</a>{{ else }}{{ $data.email }}{{ end -}}
      </span>
    </li>
    {{ end }}

    {{ with $data.phone }}
    <li>
      <i class="fa-li fas fa-phone fa-2x" aria-hidden="true"></i>
      <span id="person-telephone">
      {{- if $autolink }}<a href="tel:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
      </span>
    </li>
    {{ end }}

    {{ $addr_formatted := "" }}{{/* Scoping for maps. */}}
    {{ if $data.address.street | or $data.address.city | or $data.address.region | or $data.address.postcode | or $data.address.country }}
      {{ $addr_formatted = partial "functions/get_address" (dict "root" . "address" $data.address) }}
      <li>
        <i class="fa-li fas fa-map-marker fa-2x" aria-hidden="true"></i>
        <span id="person-address">{{$addr_formatted}}</span>
      </li>
    {{ end }}

    {{ with $data.directions }}
    <li>
      <i class="fa-li fas fa-compass fa-2x" aria-hidden="true"></i>
      <span>{{ . | markdownify | emojify }}</span>
    </li>
    {{ end }}

    {{ with $data.office_hours }}
    <li>
      <i class="fa-li fas fa-clock fa-2x" aria-hidden="true"></i>
      <span>
        {{- if not (reflect.IsSlice .)}}{{/* Support legacy string format. */}}
          {{- . | markdownify | emojify -}}
        {{else}}
          {{- delimit . "<br>" | markdownify | emojify -}}
        {{end -}}
      </span>
    </li>
    {{ end }}



    {{/* Contact links. */}}
    {{ range $data.contact_links }}
    {{ $pack := or .icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
    {{ end }}
    {{ $link := .link }}
    {{ $scheme := (urls.Parse $link).Scheme }}
    {{ $target := "" }}
    {{ if not $scheme }}
      {{ $link = .link | relLangURL }}
    {{ else if in (slice "http" "https") $scheme }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <li>
      <i class="fa-li {{ $pack }} {{ $pack_prefix }}-{{ .icon }} fa-2x" aria-hidden="true"></i>
      <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>{{.name|markdownify|emojify|safeHTML}}</a>
    </li>
    {{ end }}

  </ul>

  {{ if and site.Params.map.engine $data.coordinates.latitude }}
  <div class="d-none">
    <input id="map-provider" value="{{ site.Params.map.engine }}">
    <input id="map-lat" value="{{ $data.coordinates.latitude }}">
    <input id="map-lng" value="{{ $data.coordinates.longitude }}">
    <input id="map-dir" value="{{ $addr_formatted }}">
    <input id="map-zoom" value="{{ site.Params.map.zoom | default "15" }}">
    <input id="map-api-key" value="{{ site.Params.map.api_key }}">
  </div>
  <div id="map"></div>
  {{ end }}

</div>