<nav class="navbar is-white m-4" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL }}">
                <img loading="lazy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ .Site.BaseURL }}{{ .Site.Params.logo.url }}" alt="{{ .Title }} logo" class="logo is-hidden-touch">
                <img loading="lazy" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ .Site.BaseURL }}{{ .Site.Params.logo.small_url }}" alt="{{ .Title }} logo" class="logo is-hidden-desktop">
                <span class="is-sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
            </a>
            <a href="#" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span class="is-sr-only">{{ i18n "navToggle" }}</span>
            </a> 
        </div>

        <div id="navbarMain" class="navbar-menu is-size-5">
            <div class="navbar-end px-3">
                {{ range site.Menus.main }}
                    <a href="{{ .URL | relLangURL }}" class="navbar-item has-text-primary">{{ .Name }}</a>
                {{ end }}{{ if .Site.Params.phone }}
                    <div class="navbar-item grid is-vcentered">
                        <div class="cell is-vertical">
                            <p class="is-vertical my-1"><a class="button is-success is-fullwidth" href="tel:{{ .Site.Params.phone }}" rel="noopener noreferrer nofollow"><span class="icon"><i class="fas fa-phone is-large"></i></span><strong>{{ .Site.Params.phone }}</strong></a></p>
                            {{ if .Site.Params.phone2 }}<p class="is-vertical my-1"><a class="button is-warning is-fullwidth" href="tel:{{ .Site.Params.phone2 }}" rel="noopener noreferrer nofollow"><span class="icon"><i class="fas fa-phone"></i></span><strong>{{ .Site.Params.phone2 }}</strong></a></p>{{ end }}
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</nav>