@use "bulma/sass/utilities/mixins" as *;
@use "bulma/sass/utilities" as *;

// HELPERS
////

// VARIABLES
$primary-main: $primary;
$primary-light: lighten($primary, 30%);
$primary-hover: darken($primary, 20%);
$primary-active: darken($primary, 40%);
$primary-dark: darken($primary, 60%);
$link-main: $link;
$link-light: lighten($link, 30%);
$link-hover: darken($link, 20%);
$link-active: darken($link, 40%);
$link-dark: darken($link, 60%);
$info-main: $info;
$info-light: lighten($info, 30%);
$info-hover: darken($info, 20%);
$info-active: darken($info, 40%);
$info-dark: darken($info, 60%);
$success-main: $success;
$success-light: lighten($success, 30%);
$success-hover: darken($success, 20%);
$success-active: darken($success, 40%);
$success-dark: darken($success, 60%);
$warning-main: $warning;
$warning-light: lighten($warning, 30%);
$warning-hover: darken($warning, 20%);
$warning-active: darken($warning, 40%);
$warning-dark: darken($warning, 60%);
$danger-main: $danger;
$danger-light: lighten($danger, 30%);
$danger-hover: darken($danger, 20%);
$danger-active: darken($danger, 40%);
$danger-dark: darken($danger, 60%);
// Gradients
// LINEAR
$gradient-linear-primary: linear-gradient(
    90deg,
    rgba($primary-main, 1) 0%,
    rgba($primary-dark, 1) 100%
);
$gradient-linear-secondary: linear-gradient(
    90deg,
    rgba($primary-main, 1) 0%,
    rgba($primary-light, 1) 100%
);
// RADIAL
$gradient-radial-primary: radial-gradient(
    circle,
    rgba($primary-main, 1) 0%,
    rgba($primary-dark, 1) 100%
);
$gradient-radial-secondary: radial-gradient(
    circle,
    rgba($primary-main, 1) 0%,
    rgba($primary-light, 1) 100%
);



// CUSTOM UL
ul.checklist {
    list-style: none;
    padding: 0;
    li {
        padding-left: 1.3em;
        margin-bottom: 0.5em;
        &:before {
            font: var(--fa-font-solid);
            content: "\f00c";
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            margin-left: -1.3em; /* same as padding-left set on li */
            margin-right: 0.4em;
            width: 1.3em; /* same as padding-left set on li */
        }
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    &.white {
        background-color: rgba($white, 0.6);
    }
    &.black {
        background-color: rgba($black, 0.6);
    }
    &.primary {
        background-color: rgba($primary, 0.6);
    }
    &.link {
        background-color: rgba($link, 0.6);
    }
    &.info {
        background-color: rgba($info, 0.6);
    }
    &.success {
        background-color: rgba($success, 0.6);
    }
    &.warning {
        background-color: rgba($warning, 0.6);
    }
    &.danger {
        background-color: rgba($danger, 0.6);
    }
}

// cards
.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    &.card-content {
        flex: auto;
    }
}
// typography
.hidden-text {
    display: inline-block;
    height: 1px; /* be sure to set height & width */
    width: 1px;
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
//layout
.is-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.is-vcentered {
    align-items: center;
}

// add has-img-left/right
$sides: left, right;
@each $name, $side in $sides {
    .has-img-#{$name} {
        img,
        figure {
            float: #{$name};
        }
    }
}

//color
.has-background-white-50-alpha {
    background-color: rgba($color: $white, $alpha: 0.5);
}
.has-background-black-50-alpha {
    background-color: rgba($color: $black, $alpha: 0.5);
}

// margin / padding
$sizeUnit: rem;
$marginKey: "m";
$paddingKey: "p";
$separator: "-";
$sizes: (
    ("none", 0),
    ("xxs", 0.125),
    ("xs", 0.25),
    ("sm", 0.5),
    ("md", 1),
    ("lg", 2),
    ("xl", 4),
    ("xxl", 8)
);
$positions: (("t", "top"), ("r", "right"), ("b", "bottom"), ("l", "left"));

@function sizeValue($key, $value) {
    @return if($key == "none", 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}

// / **************
// / **********
// / ATOMS
// / **********

.logo {
    max-height: 80px !important;
    @include desktop {
        max-height: 100px !important;
    }
}

/// **************
/// **********
/// MOLECULES
/// **********
/// **************

// navigation-main
.navigation-main {
    &.is-transparent {
        background-color: transparent;
        .navbar-item,
        .navbar-link {
            color: $link;
            &:after {
                border-color: currentColor;
            }
        }
    }
    @include desktop {
        .has-dropdown .navbar-item {
            color: $text;
        }
    }
    @include touch {
        .navbar-menu {
            background-color: inherit;
        }
    }
    .navbar-item,
    .navbar-link {
        padding: 0.2rem 1rem;
        color: $link;
        &:after {
            border-color: currentColor;
        }
    }
    @include desktop {
        .has-dropdown .navbar-item {
            // color: $text;
        }
    }
    .navbar-burger a {
        margin-right: 1em;
        color: #000;
    }
}

// phoneNav sticky phone
#phoneNav {
    background: transparent;
    z-index: 50;
    .navbar-start {
        text-align: center;
        min-height: 4rem;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        -webkit-transition: all 2s; /* Safari prior 6.1 */
        transition: all 2s;
        .navbar-item {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            color: $white;
        }
    }
}

// language dropdown
.i18n-dropdown #dropdown-menu {
    width: 160px;
    margin-left: 50%;
    left: -80px;
    margin-top: -1em;
    a {
        padding: 0.5em 0 0.5em 0;
    }
}


// / **************
// / **********
// ORGANISMS
// / **********

.carousel {
    overflow: hidden;
}
.slider-container {
    min-width: 0;
    min-height: 0;
    .slider {
        width: 0;
        min-width: 100%;
    }   
}

.hero-carousel {
    // fix bulma carousel resize https://github.com/Wikiki/bulma-carousel/issues/73
    .slider-item {
        width: 100vw !important;
    }
}

// MAIN CAROUSEL
#main-carousel {
    .slider-container {
        min-height: 500px;
        max-height: 850px;
    }
    .slider {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        height: 100% !important;
        max-height: 100%;
        z-index: 0;
        & .slider-container {
            height: 100% !important;
        }
    }
    figure {
        &,
        img {
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center center;
            object-position: center center;
            height: 100%;
            width: 100%;
        }
        figcaption {
            position: absolute;
            background-color: rgba($primary, 0.8);
            left: 0;
            right: 0;
            bottom: 150px;
            padding: 2em 0;
            &,
            h1 {
                color: $white;
            }
        }
    }
}

// header title
.header-title {
    padding: 2em 0;
}

// FEATURES SECTION
.section.features .card:hover {
    background-color: $grey-lighter;
}


/// **************
/// **********
// TEMPLATES
/// **********
/// **************

// HERO
.hero-top {
    position: relative;
    z-index: 999;
}

// SIDEBAR Sticky
.sidebar-sticky {
    height: 100vh;
    min-height: 200px;
    overflow: auto;
    position: sticky;
    top: 0;
}
// errors
// error with horizontal scrolling temp fix (bulma 0.9.4) (use .is-gapless) https://github.com/jgthms/bulma/issues/2242