{{ if .Site.Params.header_top.enable }}
{{ $show_current_language := site.Params.header_top.language | default false }}
<div class="hero-top p-1 has-background-primary has-text-white has-text-centered">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6 has-text-left-desktop">
                <p><i class="fa fa-map-marker"></i> {{ .Site.Params.header_top.text }}</p>
            </div>
            <div class="column is-hidden-mobile">
                <p>
                    {{/* <i class="fa fa-envelope"></i> */}}
                    {{ .Site.Params.header_top.email }}</p>
            </div>
            <div class="column is-2 has-text-right-desktop">
                {{ if .Site.Params.header_top.social }}
                <div class="social">
                    {{ range site.Menus.social }}
                    <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer nofollow" style="opacity: 1;">{{ .Pre
                        }}<span class='is-sr-only'>{{ .Name }}</span></a>
                    {{ end }}
                </div>
                {{ end }}

            </div>

            {{ if .Site.Params.header_top.language }}
            <div class="column nav-item dropdown i18n-dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-primary pl-5 pr-5 {{ if $show_current_language }}dropdown-toggle{{end}}"
                        aria-haspopup="true" aria-controls="dropdown-menu" aria-label="{{ i18n " languages" |
                        default "Languages" }}">
                        <span class="icon is-small">
                            <i class="fas fa-globe mr-1" aria-hidden="true"></i>
                        </span>
                        {{- if $show_current_language -}}
                        <span class="d-none d-lg-inline">{{ index .Site.Language.Lang }}</span>
                        {{- end -}}
                    </button>
                </div>
                <div class="dropdown-menu " id="dropdown-menu" role="menu">
                    <div class="dropdown-content has-background-primary">
                        <a href="#" class="dropdown-item"><span>{{ .Lang }}</span></a>
                        {{ range .Translations }}
                        <a class="dropdown-item" href="{{ .Permalink }}" {{ if $.IsHome }}
                            data-target="{{ .RelPermalink }}" {{ end }}>
                            <span>{{ .Lang }}</span>
                        </a>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}